[Desktop Entry]
Name = Affinity Publisher 2
Icon = <HOME>/.local/share/affinity-wine/drive_c/Program Files/Affinity/Publisher 2/PublisherHelp/Contents/Resources/shared/icon.png
Type = Application
Exec = rum affinity-photo3-wine9.13-part3 '<HOME>/.local/share/affinity-wine' wine '<HOME>/.local/share/affinity-wine/drive_c/Program Files/Affinity/Publisher 2/Publisher.exe'
Terminal = false
Keywords = image edit editing visual graphic
