[Desktop Entry]
Name = Affinity Designer 2
Icon = <HOME>/.local/share/affinity-wine/drive_c/Program Files/Affinity/Designer 2/DesignerHelp/Contents/Resources/shared/icon.png
Type = Application
Exec = launch-affinity designer
Terminal = false
Keywords = editing visual graphic design illustrator svg vector
