[Desktop Entry]
Name = Affinity Photo 2
Icon = <HOME>/.local/share/affinity-wine/drive_c/Program Files/Affinity/Photo 2/PhotoHelp/Contents/Resources/shared/icon.png
Type = Application
Exec = launch-affinity photo
Terminal = false
Keywords = image edit editing visual graphic photoshop
